@import "compass/css3";

@font-face {
  font-family: 'Dot Matrix';
  src: url('/type/dot_matrix.eot');
  src: url('/type/dot_matrix.eot?#iefix') format('embedded-opentype'),
       url('/type/dot_matrix.woff') format('woff'),
       url('/type/dot_matrix.ttf') format('truetype'),
       url('/type/dot_matrix.svg#/type/dotMatrixRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  @include background(linear-gradient(#454545, #141414));
  background-attachment: fixed;
  overflow: hidden;
  color: #434343;
}

a {
  color: #6a6a6a;
}

#content {
  z-index: 1;
  position: absolute;
  top: 10000px;
  bottom: 0;
  left: 50%;
  width: 700px;
  margin-left: -426px;
  padding-left: 60px;
  padding-right: 100px;
  @include background(image-url('hole-left.png?embed'),
                      image-url('hole-right.png?embed'),
                      linear-gradient(#fafbfb 50%, #f6f6f6 50%, #f6f6f6),
                      image-url('printer-bottom.png?embed'));
  background-repeat: repeat-y, repeat-y, repeat, no-repeat;
  background-position: 9% 0, 86% 0, top, bottom center;
  background-size: 31px 49px, 31px 49px, 100px 100px, 100%;
  background-clip: border-box, border-box, content-box, border-box;
}

#page {
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 10px;
  font-family: 'Dot Matrix';
  font-size: 24px;
  overflow: hidden;
}

.message-border {
  background-image: image-url('hash.png?embed');
  &.top, &.bottom {
    background-repeat: repeat-x;
    width: 600px;
    height: 24px;
    clear: both;
  }
  &.left, &.right {
    float: left;
    background-repeat: repeat-y;
    height: 92px;
    width: 24px;
  }
}

.message {
  width: 524px;
  height: 78px;
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 14px;
  overflow: hidden;
  float: left;
  &.intro {
    text-align: center;
    padding-top: 20px;
    height: 58px;
  }
  .imgur, .tweet {
    float: left;
  }
  .tweet {
    margin-bottom: 14px;
    background-image: image-url('tweet.png?embed');
    a {
      height: 64px;
      width: 64px;
      display: block;
      text-indent: 9999px;
    }
  }
  .imgur {
    width: 414px;
    margin-left: 32px;
  }
}

#printer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -426px;
  width: 860px;
  height: 309px;
  @include background(image-url('printer-top.png?embed') no-repeat bottom center)
}

#logo {
  font-family: 'Monoton';
  font-size: 3em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  left: 37%;
  bottom: 0;
  position: absolute;
  a {
    text-decoration: none;
    color: inherit;
  }
}

#animate {
  position: relative;
  top: 117px;
  left: 822px;
  height: 100px;
  width: 34px;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.loading {
  padding-top: 150px;
}

.image.xhr {
  padding-top: 300px;
}

.image-wrapper {
  padding-bottom: 50px;
}
