@import "compass/css3";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  @include background(linear-gradient(#454545, #141414));
  background-attachment: fixed;
}

#content {
  height: 100%;
  width: 700px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 100px;
  @include background(image-url('printer-top.png'),
                      image-url('hole-left.png'),
                      image-url('hole-right.png'),
                      linear-gradient(#e0e1e2 50%, #f6f6f6 50%, #f6f6f6),
                      image-url('printer-bottom.png'));
  background-repeat: no-repeat, repeat-y, repeat-y, repeat, no-repeat;
  background-position: bottom center, 9% 0, 81% 0, top, bottom center;
  background-size: 100%, 31px 49px, 31px 49px, 100px 100px, 100%;
  background-clip: border-box, border-box, border-box, content-box, border-box;
}
