<div class="sidebar">
  #<br/>#<br/>#<br/>#<br/>#<br/>
</div>

<div class="message">
  ########################################<br/><br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Drag an image here or <a href="#" id="file-upload">choose a file</a><br/>
  <input name="image" id="file-input" accept="image/*" type="file" style="width:0;height:0;" />
  <br/>
  ########################################<br/>
</div>

<div class="sidebar">
  #<br/>#<br/>#<br/>#<br/>#<br/>
</div>
