<div id="page">
  <a href="<%= s3_url(true) %>"><img src="<%= s3_url %>" /></a>
  <script>var imageUrl = <%= s3_url(true).inspect %>;</script>

  <div id="imgur">
    <% if imgur_url %>
      <a href="<%= imgur_url %>">Upload to imgur</a>
    <% else %>
      <a id="upload" href="#">Upload to imgur</a>
    <% end %>
  </div>
</div>
