<img style="margin-left:50px" src="http://<%= settings.s3_bucket %>/<%= @id %>.png" />

<% if @graph_photo %>
  <div class="fb-add-to-timeline" data-show-faces="false" data-mode="button"></div>
<% end %>
